<tr>
  <% cl = cycle('table0', 'table1') %>
  <td class="<%= cl %>">
    <%= link_to t('changeset_comments.changeset_comment.changeset', :id => changeset_comment.changeset.id,
      :author => changeset_comment.changeset.user.display_name), changeset_path(changeset_comment.changeset) %>
  </td>
  <td class="<%= cl %>">
    <%= t('changeset_comments.changeset_comment.date_html', :date => friendly_date(changeset_comment.created_at)) %>
  </td>
  <% if @user != @target_user %>
    <td class="<%= cl %>">
    <%= link_to(changeset_comment.author.display_name, {:controller => "user", :action => "view",
      :display_name => changeset_comment.author.display_name}) %>
    </td>
  <% end %>
  <td class="<%= cl %>">
    <%= changeset_comment.body %>
  </td>
</tr>
