<% content_for :heading do %>
  <h1><%= h(@title) %></h1>
  <ul class='secondary-actions clearfix'>
    <% if @type %>
      <li><%= link_to t('changeset_comments.changeset_comments_header.see_all_comments'),
        :controller => 'changeset_comments', :action => 'list', :type => nil, :display_name => nil, :page => nil %></li>
    <% end %>
    <% if @user %>
      <% if @type == 'received_by_sb' %>
        <li><%= link_to t('changeset_comments.changeset_comments_header.see_user_comments'),
          :controller => 'changeset_comments', :action => 'list', :type => nil, :page => nil, :display_name => @target_user.display_name %></li>
      <% end %>
      <% if @type == 'owned_by_sb' %>
        <li><%= link_to t('changeset_comments.changeset_comments_header.see_user_received_comments'),
          :controller => 'changeset_comments', :action => 'list', :type => 'received', :page => nil, :display_name => @target_user.display_name %></li>
      <% end %>
      <% if @type != 'own' %>
        <li><%= link_to t('changeset_comments.changeset_comments_header.see_your_comments'),
          :controller => 'changeset_comments', :action => 'mine', :type => nil, :page => nil %></li>
      <% end %>
      <% if @type != 'received' %>
      <li><%= link_to t('changeset_comments.changeset_comments_header.see_comments_to_your_changesets'),
      :controller => 'changeset_comments', :action => 'mine', :type => 'received', :page => nil %></li>
      <% end %>
      <% if @type != 'subscribed' %>
        <li><%= link_to t('changeset_comments.changeset_comments_header.see_subscribed_changesets_comments'),
          :controller => 'changeset_comments', :action => 'mine', :type => 'subscribed', :page => nil %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>



<% if @comments.size > 0 %>
  <%= render :partial => 'changeset_comments_paging_nav' %>
  <table id="changeset_comments_list" cellpadding="3">
    <thead>
      <tr>
        <th><%= t 'changeset_comments.list_table_headers.changeset' %> </th>
        <th><%= t 'changeset_comments.list_table_headers.date' %></th>
        <% unless @type == 'own' %>
            <th><%= t 'changeset_comments.list_table_headers.author' %></th>
        <% end %>
        <th><%= t 'changeset_comments.list_table_headers.text' %></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'changeset_comment', :collection => @comments unless @comments.nil? %>
    </tbody>
  </table>
  <%= render :partial => 'changeset_comments_paging_nav' %>
<% else %>
  <h4><%= t 'changeset_comments.list.empty' %></h4>
<% end %>
